export FLASK_ENV="development"
export FLASK_APP="src.app:create_app"
export SECRET_KEY="change_me"

export DATABASE_URL="postgresql+psycopg2://postgres:postgres@localhost:5432/celery"

export CELERY_TIMEZONE="Europe/Berlin"
export CELERY_BROKER_URL="redis://localhost:6379/0"
export CELERY_RESULT_BACKEND="redis://localhost:6379/0"
